<Html>

    <Head>
        <Title>
            Create a Login form
        </Title>
    </Head>
    
    <Body>
        The following tags are used in this Html code for creating the Login form:
        <form action="/" method="POST">
            <!-- <label>Company Name: </label> <br>
            <input type="text" name="name" id="name"> <br> <br> -->
            <label>title:</label> <br>
            <input type="text" name="title" id="title"> <br> <br>
            <input type="submit" value="Submit">
        </form>
    </Body>
    
    </Html>