<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Drone Co-ordinates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/form.css" />
    <link rel="shortcut icon" href="images/fav-promo.png" />
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh7msMVHVzGIGudLom3v5p1U4vLWxaH50&callback=initMap"></script>
    <script>
        var x = document.getElementById("demo");

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }

        function showPosition(position) {
            laticurr=position.coords.latitude;
            longicurr=position.coords.longitude;
        }

        function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
            case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
            case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
            case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
        }
        }
        var markers = [];
        var uniqueId = 1;
        var loc = [];
        function addPoint(latLng) {
            loc.push({ lat: latLng.lat(), lng: latLng.lng() });
            console.log(loc);
            return
        }
        window.onload = function () {
            var mapOptions = {
                center: { lat: laticurr, lng: longicurr },
                zoom: 20,
                mapTypeId: 'satellite'
            };
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

            // var loc = [];
            // //Attach click event handler to the map.
            google.maps.event.addListener(map, 'click', function (e) {
                addPoint(e.latLng);
                //Determine the location where the user has clicked.
                var location = e.latLng;
                // console.log(location);
                // loc.push({ lat: e.latLng.lat(), lng: e.latLng.lng() })
                //Create a marker and placed it on the map.
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                marker.id = uniqueId;
                uniqueId++;

                //Attach click event handler to the marker.

                google.maps.event.addListener(marker, "click", function (e) {
                    // addPoint(e.latLng);
                    // var location = e.latLng;
                    // var marker = new google.maps.Marker({
                    //     position: location,
                    //     map: map
                    // });
                    var content = 'Latitude: ' + location.lat() + '<br />Longitude: ' + location.lng();
                    content += "<br /><input type = 'button' value = 'Delete' onclick = 'DeleteMarker(" + marker.id + ");' value = 'Delete' />";
                    var infoWindow = new google.maps.InfoWindow({
                        content: content
                    });

                    // document.getElementById('lat_1').value = loc[0].lat;
                    // document.getElementById('lon_1').value = loc[0].lng;
                    // document.getElementById('lat_2').value = loc[1].lat;
                    // document.getElementById('lon_2').value = loc[1].lng;
                    // document.getElementById('lat_3').value = loc[2].lat;
                    // document.getElementById('lon_3').value = loc[2].lng;
                    // document.getElementById('lat_4').value = loc[3].lat;
                    // document.getElementById('lon_4').value = loc[3].lng;
                    infoWindow.open(map, marker);
                });
                markers.push(marker);
                console.log(markers);
                document.getElementById('lat_1').value = loc[0].lat;
                document.getElementById('lon_1').value = loc[0].lng;
                document.getElementById('lat_2').value = loc[1].lat;
                document.getElementById('lon_2').value = loc[1].lng;
                document.getElementById('lat_3').value = loc[2].lat;
                document.getElementById('lon_3').value = loc[2].lng;
                document.getElementById('lat_4').value = loc[3].lat;
                document.getElementById('lon_4').value = loc[3].lng;
                infoWindow.open(map, marker);
            });
        };

        function DeleteMarker(id) {
            //Find and remove the marker from the Array
            for (var i = 0; i < markers.length; i++) {
                if (markers[i].id == id) {
                    //Remove the marker from Map                  
                    markers[i].setMap(null);
                    loc.splice(i, 1);
                    //Remove the marker from array.
                    markers.splice(i, 1);
                    return;
                }
            }
        };
    </script>
</head>

<body>
    <!-- <div id="dvMap" style="width: 100%; height: 100%">
    </div> -->

    <p id="demo"></p>
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-detail">
                <div id="dvMap" style="width: 100%; height: 100%">
                    <input type="button" value="Delete" onclick="DeleteMarker()" />
                </div>
            </div>
            <!-- <div class="form-left">

                <h2>INFORMATION</h2>
                <p class="text-1">Please enter the co-ordinates of location where you want the drone to operate. </p>
                <p class="text-2"><span>Use: </span> Enter four co-ordinate pairs enclosing the solar field.</p>
                <div class="form-left-last">
                    <input type="submit" name="dashboard" class="dashboard" value="Go to Dashboard"
                        onclick="location.href='/';">
                </div>

            </div> -->
            <form class="form-detail" action="/form" method="POST" id="myform">
                <h2>CO-ORDINATES</h2>
                <div class="form-group">
                    <div class="hello">
                        <label for="first_name">POINT - 1</label>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="first_name">Latitude</label>
                        <input type="text" name="lat_1" id="lat_1" class="input-text" value="" readonly>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">Longitude</label>
                        <input type="text" name="lon_1" id="lon_1" class="input-text" value="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="hello">
                        <label for="first_name">POINT - 2</label>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="first_name">Latitude</label>
                        <input type="text" name="lat_2" id="lat_2" class="input-text" value="" readonly>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">Longitude</label>
                        <input type="text" name="lon_2" id="lon_2" class="input-text" value="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="hello">
                        <label for="first_name">POINT - 3</label>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="first_name">Latitude</label>
                        <input type="text" name="lat_3" id="lat_3" class="input-text" value="" readonly>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">Longitude</label>
                        <input type="text" name="lon_3" id="lon_3" class="input-text" value="" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="hello">
                        <label for="first_name">POINT - 4</label>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="first_name">Latitude</label>
                        <input type="text" name="lat_4" id="lat_4" class="input-text" value="" readonly>
                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">Longitude</label>
                        <input type="text" name="lon_4" id="lon_4" class="input-text" value="" readonly>
                    </div>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Proceed">
                    <input type="submit" name="grid" class="register" value="Grid" formaction="/grid">

                </div>
                <input type="hidden" name="drone_id" id="drone_id" value="<%= drone_id %>">
            </form>
        </div>
    </div>
</body>

</html>