body {
  overflow-y: scroll;
}

/* Navbar */

.iconButton {
  color: #87cefa;
  border-radius: 50%;
  background-color: #fff;
  border: 4px double white;
  border-color: white #87cefa;
  padding: 0.2rem;
  z-index: 10;
  position: absolute;
}

.spanButton {
  color: #fff;
  background-color: #87cefa;
  position: relative;
  font-weight: 600;
  font-size: large;
  text-decoration: none;
}

.spanButton:hover {
  font-size: larger;
}

.nav-links:hover {
  transform: scale(1.1);
}

/* Slideshow */

.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-top: 60px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 0, 130, 0.6);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  text-align: left;
  color: white;
  padding: 0 4rem;
  opacity: 1;
}

.slide-content h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 100px;
  z-index: 2;
  margin-bottom: 2rem;
}

.slide-content h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 50px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .slide-content h1 {
    font-size: 5rem;
    line-height: 80px;
  }

  .slide-content h3 {
    font-size: 2rem;
    line-height: 40px;
  }

  .slide-content {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .slide-content h1 {
    font-size: 4rem;
    line-height: 60px;
  }

  .slide-content h3 {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .slide-content {
    padding: 0 1rem;
  }
}

/* Main content of website */

.main-content {
  margin-top: 100vh;
  background-color: #fff;
}

/* About Us */

.about-us {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.aboutus-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
  flex: 1;
  width: 50%;
  float: left;
}

.about-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about-card p {
  font-size: 25px;
  line-height: 1.5;
  color: #050049;
  font-weight: 600;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  float: right;
  padding-left: 10%;
  padding-right: 10%;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

@media only screen and (min-width: 768px) {
  /* On screens larger than 768px, display the layout in two columns */
  .about-us {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .about-card {
    flex: 1;
    margin-right: 20px;
  }

  .mySwiper {
    width: 240px;
  }
}

@media only screen and (max-width: 767px) {
  .about-card {
    width: 100%;
    margin-right: 0;
  }

  .swiper-container {
    display: none;
  }
}

/* 
.diamond-grid {
  --diamond-grid-gap: 0.2rem;
  --diamond-grid-offset: calc(50% - var(--diamond-grid-gap));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0);
  animation: animationLeftToRight 0.8s ease-in forwards;
  flex: 1;
}

.diamond-grid--item {
  position: relative;
  width: 100%;
  height: 200px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.diamond-grid--item:nth-child(2) {
  top: var(--diamond-grid-offset);
}

.diamond-grid--item:nth-child(8) {
  bottom: var(--diamond-grid-offset);
}

.diamond-grid--item:nth-child(4) {
  left: var(--diamond-grid-offset);
}

.diamond-grid--item:nth-child(6) {
  right: var(--diamond-grid-offset);
}

.diamond-grid div {
  filter: blur(1000px);
} */

@media screen and (min-width: 768px) {
  .about-us {
    flex-direction: row;
    margin-top: 30px;
  }

  .about-card {
    width: 85%;
    flex: unset;
  }

  /* .diamond-grid {
    width: 75%;
    flex: unset;
  } */
}

/* Our Process */

.process-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 200px auto;
}

.process-icon-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.process-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  background-image: linear-gradient(to bottom right, #0c61cf, #94003e);
  background-clip: padding-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1rem;
}

.process-icon:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.process-description {
  width: 180px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.process-description h4 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #050049;
}

.process-description span {
  color: #333;
}

@media only screen and (min-width: 768px) {
  .process-container {
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100vh;
  }

  .process-icon-container {
    width: calc(50% - 1rem);
    margin-bottom: 0;
  }

  .process-description {
    width: 180px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .process-description h4 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #050049;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .process-container {
    min-height: unset;
  }
}

@media only screen and (min-width: 992px) {
  .process-icon-container {
    width: calc(25% - 1rem);
  }
}

/* Our Services */

.laptop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.service-heading {
  left: 25%;
}

.laptop-template {
  width: 320px;
  position: absolute;
  top: 10;
  margin-left: auto;
  z-index: 1;
}

.laptop-img {
  width: 200px;
  position: absolute;
  margin-left: auto;
  height: 140px;
  margin-top: -0.6em;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.main-circle {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(5, 0, 73);
  background: linear-gradient(
    180deg,
    rgba(5, 0, 73, 1) 0%,
    rgba(5, 0, 73, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 0 15px white, 0 0 0 25px #07c0db;
}

.main-circle:before,
.main-circle:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main-circle:before {
  clip-path: polygon(50% 0%, 50% 50%, 100% 50%, 100% 0%);
}

.main-circle:after {
  display: none;
}

.main-circle--text {
  text-align: center;
  margin-top: 10rem;
  color: #eee;
  font-size: 2.5rem;
  text-shadow: #eee 0 0 10px;
}

.center-circle {
  position: absolute;
  width: 10%;
  height: auto;
  border-radius: 50%;
  background: hsla(243, 100%, 19%, 1);
  z-index: 1;
  margin-bottom: 10%;
  box-shadow: 0 0 0 5px #0c61cf, 0 0 0 12px #87cefa, 0 0 0 21px #c2d5ef,
    -1.6em -0.4em 1.2em #333;
}

.center-circle:hover {
  box-shadow: 0 0 0 5px #0c61cf, 0 0 0 12px #87cefa, 0 0 0 21px #c2d5ef,
    -1.6em -0.4em 1.2em black;
  width: 12%;
  height: auto;
  padding: 0.5rem;
}

.center-circle--icon {
  color: #07c0db;
  font-size: 5em;
  margin: 1.5rem;
}

.small-circle {
  position: absolute;
  width: 7.8%;
  padding: 0.4rem;
  height: auto;
  border-radius: 50%;
  background: rgb(4, 168, 161);
  background: linear-gradient(
    6deg,
    rgba(4, 168, 161, 1) 0%,
    rgba(0, 104, 116, 1) 37%,
    rgba(63, 0, 115, 1) 67%,
    rgba(97, 1, 124, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: -1.4em -0.8em 1.8em #777;
}

.small-circle:hover {
  box-shadow: -1.4em -0.8em 2em #333;
  width: 105px;
  height: 105px;
}

.small-circle.active-icon {
  width: 105px;
  height: 105px;
  background: rgb(4, 168, 161);
  background: linear-gradient(
    6deg,
    rgb(7, 221, 210) 0%,
    rgb(4, 187, 207) 37%,
    rgb(0, 88, 122) 67%,
    rgb(29, 72, 73) 100%
  );
}

.small-circle--icon {
  width: 95%;
  height: 90px;
  color: white;
  background-color: #333;
  border-radius: 50%;
  padding: 1.5rem;
}

.small-circle--icon.active {
  color: #333;
}

.service-container--m {
  padding-top: 4rem;
}

.semi-circle--m {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  flex-wrap: wrap;
}

.circle--m {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #050049;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle--m:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
}

.circle-icon--m {
  color: #eee;
  font-size: 40px;
}

.active--m {
  color: #07c0db;
}

.header-container--m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.heading--m {
  font-weight: 600;
  color: #050049;
  font-size: 2rem;
}

/* Grid */

.grid-container {
  overflow: hidden;
  /* background-color: #222;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.025) 10%,
      transparent 0
    ),
    linear-gradient(#222, #000); */
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  background-color: #050049;
}

.grid-wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1000px;
  max-height: 1000px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3vmin;
  justify-items: center;
  align-items: center;
}

.grid-img {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.25s;
}

.grid-img:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}

.grid-img:hover {
  z-index: 2;
  transform: scale(2);
}

/* Contact Us Page */

.contact-container {
  background: rgb(5, 0, 73);
  background: linear-gradient(
    180deg,
    rgba(5, 0, 73, 1) 0%,
    rgba(71, 63, 143, 1) 100%
  );
  height: 100vh;
}

.contact-form {
  width: 50%;
  padding: 1rem 1rem;
}

.contact-form-container h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 1.5rem;
}

.contact-form-container input {
  border: 3px solid #eee;
  width: 100%;
  margin-bottom: 1rem;
}

.contact-form-container textarea {
  border: 3px solid #eee;
  width: 100%;
  margin-bottom: 1rem;
}

.contact-line {
  height: 4px;
  background-color: white;
  width: 100%;
  margin-top: 2rem;
}

.contact-btn {
  background-color: #eee;
  border: 3px solid #eee;
  color: #333;
  padding: 0.5rem 2rem;
}

.contact-btn:hover {
  transform: scale(1.1);
  background-color: #eee;
  color: #333;
}

.contact--email {
  color: #eee;
  text-decoration: none;
}

.contact--email:hover {
  color: white;
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .contact-form {
    width: 50%;
    float: left;
    padding: 1rem 5rem;
  }

  .bg-image {
    width: 50%;
    height: 100%;
    float: right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.5;
  }
}

@media screen and (max-width: 991px) {
  .contact-form {
    width: 100%;
    padding: 1rem 1rem;
  }

  .bg-image {
    display: none;
  }
}

/* Footer */

footer {
  background: #473f8f;
  padding: 30px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-line {
  height: 1px;
  background-color: white;
  width: 90%;
  margin-bottom: 20px;
}

.column {
  flex-basis: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  text-align: left;
  padding-right: 30px;
  color: #eee;
}

.column img {
  max-width: 60%;
  height: auto;
}

.column h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.column li {
  margin-bottom: 5px;
  font-size: 16px;
}

.column li a {
  color: #666;
  text-decoration: none;
}

.column li a:hover {
  color: #333;
}

@media screen and (min-width: 768px) {
  .column {
    flex-basis: 25%;
  }
}

/* LOADER */

.spinner {
  width: 88px;
  height: 88px;
  display: grid;
  border: 7px solid #0000;
  border-radius: 50%;
  border-color: #00044f #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 3.5px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #fe1a75 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 14px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
