<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="images/fav-promo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CMontserrat:100,200,300,400,500,600,700,800,900">
  <link rel="stylesheet" href="css/promo.css">

  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>
</head>

<body>
  <div class="preloader">
    <div class="preloader-body">
      <div class="preloader-item"></div>
    </div>
  </div>
  <div class="page">
    <div class="position-relative">
      <header class="page-header">
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
            data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
            data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
            data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
              data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main">
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <div class="rd-navbar-brand">
                  <a class="brand" href="index.html"><img src="images/logo3.png" alt="" width="143" height="40" /></a>
                </div>
              </div>
              <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#features">Features</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#team">Team</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#gallery">Gallery</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="rd-navbar-collapse">
                <ul class="social-menu justify-content-center">
                  <li><a class="icon novi-icon fl-glypho-instagram19" href="https://www.instagram.com/_flynovate_/"
                      target="_blank"></a></li>
                  <li><a class="icon novi-icon fl-glypho-linkedin" href="https://www.linkedin.com/company/flynovate/"
                      target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-xl bg-image bg-default bg-image-custom bg-image-custom-1 position-relative">
        <div class="container">
          <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-4 col-xl-5 position-relative">
              <div class="carousel-child-wrap">
                <div class="slick-slider carousel-child" id="child-carousel" data-for=".carousel-parent"
                  data-swipe="true" data-items="1">
                  <div class="item-wrap">
                    <div class="item"><img src="images/Drones/Drone1.jpg" alt="" width="645" height="520" />
                    </div>
                  </div>
                  <div class="item-wrap">
                    <div class="item"><img src="images/Drones/Drone51.jpg" alt="" width="645" height="620" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-6 custom-col-lg">
              <div class="slick-slider carousel-parent" data-dots="true" data-swipe="false" data-items="1"
                data-child="#child-carousel" data-for="#child-carousel">
                <div class="item-wrap">
                  <div class="item">
                    <h2>Inspection Drone</h2>
                    <p>Equiped with a Thermal Camera, our completely autonomous Inspection Drone pin-points any and all
                      defects on the solar panels caused due to constant wear and tear!</p>
                    <div class="group-md">
                      <form action="/login" method="get">
                        <button class="button button-icon button-icon-right button-default-outline"
                          type="submit">Register
                        </button>
                        <span class="icon material-icons-chevron_right">
                        </span>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="item-wrap">
                  <div class="item">
                    <h2>Cleaning Drone</h2>
                    <p>Aided with AI, this drone detects and efficiently cleans individual solar panels within 3
                      minutes.</p>
                    <div class="group-md">
                      <form action="/login" method="get">
                        <button class="button button-icon button-icon-right button-default-outline"
                          type="submit">Register
                        </button>
                        <span class="icon material-icons-chevron_right">
                        </span>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="section section-lg text-center" id="features">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <h2>Drone Services</h2>
            <p>Our drones provide a variety of useful services that make them stand out in comparison with
              other available alternatives.
            </p>
          </div>
        </div>
        <div class="row justify-content-center row-45">
          <div class="col-sm-6 col-md-4">
            <div class="feature">
              <i class="fa fa-magic" aria-hidden="true" style="font-size:36px"></i>
              <h6 class="feature-title"><a href="#">CLEANING & INSPECTION</a></h6>
              <p class="feature-description">Fire and Forget multi-drone system for fully autonomous cleaning and
                inspection of solar power farms.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="feature">
              <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:36px"></i>
              <h6 class="feature-title"><a href="#">POST-INSPECTION REPORT</a></h6>
              <p class="feature-description">Detailed summary of power output, efficiency statistics, current issues and
                solution to be induced in the solar power farms.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="feature">
              <i class="fa fa-line-chart" aria-hidden="true" style="font-size:36px"></i>
              <h6 class="feature-title"><a href="#">LIVE DASHBOARD MONITERING</a></h6>
              <p class="feature-description">Live updates and logs of camera feed, errors detected and current status of
                the drones working on the solar power farm.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section bg-image-custom bg-image-custom-2 position-relative" id="team">
      <div class="owl-carousel owl-testimonials" data-items="1" data-autoplay="false" data-autoplay-speed="6000"
        data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30"
        data-mouse-drag="true">
        <div class="section-md">
          <div class="container">
            <div class="row justify-content-lg-end">
              <div class="col-lg-11">
                <div class="testimonial">
                  <div class="testimonial-avatar-wrapper"><img class="testimonial-avatar" src="images/akshat2.jpeg"
                      alt="" width="170" height="170" />
                  </div>
                  <div class="testimonial-content">
                    <h3 class="testimonial-title">Akshat Bhatia</h3>
                    <p class="testimonial-text">“I am always looking to expand the range of imaging
                      products I work with. Drone has helped me a lot by providing top-notch
                      drones that are more than suitable for my needs. Thank you for the quick
                      delivery and great customer service!”</p><b class="testimonial-site">
                      <a href="#">Co-Founder</a></b>
                    <ul class="social-menu testimonial-social">
                      <li><a class="icon novi-icon fl-glypho-linkedin"
                          href="https://www.linkedin.com/in/akshat-bhatia-40611b196/"></a></li>
                      <li><a class="icon novi-icon fl-glypho-instagram19"
                          href="https://www.instagram.com/akshat.bhatia/"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-md">
          <div class="container">
            <div class="row justify-content-lg-end">
              <div class="col-lg-11">
                <div class="testimonial">
                  <div class="testimonial-avatar-wrapper"><img class="testimonial-avatar" src="images/panda.jpeg" alt=""
                      width="170" height="170" />
                  </div>
                  <div class="testimonial-content">
                    <h3 class="testimonial-title">Himanshu Panda</h3>
                    <p class="testimonial-text">“I have been looking for replacement parts and
                      components for my drone I bought a few years ago. Luckily, your store has
                      provided me with every part I needed to upgrade my drone. I will surely
                      recommend you to my friends.”</p><b class="testimonial-site">
                      <a href="#">Co-Founder</a></b>
                    <ul class="social-menu testimonial-social">
                      <li><a class="icon novi-icon fl-glypho-linkedin"
                          href="https://www.linkedin.com/in/himanshu-panda-9a7100217/"></a></li>
                      <li><a class="icon novi-icon fl-glypho-instagram19"
                          href="https://www.instagram.com/himanshup_16/"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-md">
          <div class="container">
            <div class="row justify-content-lg-end">
              <div class="col-lg-11">
                <div class="testimonial">
                  <div class="testimonial-avatar-wrapper"><img class="testimonial-avatar" src="images/aryaman.jpg"
                      alt="" width="170" height="170" />
                  </div>
                  <div class="testimonial-content">
                    <h3 class="testimonial-title">Aryaman Chaudhary</h3>
                    <p class="testimonial-text">“I’m not a pro in operating drones and that’s why I
                      found the basic assistance from your staff very useful. Besides, your team
                      has provided me with the necessary accessories for aerial photography that
                      were very important for my photos.”</p><b class="testimonial-site">
                      <a href="#">Co-Founder</a></b>
                    <ul class="social-menu testimonial-social">
                      <li><a class="icon novi-icon fl-glypho-linkedin"
                          href="https://www.linkedin.com/in/aryaman-chaudhary-78b59b1a7/"></a></li>
                      <li><a class="icon novi-icon fl-glypho-instagram19"
                          href="https://www.instagram.com/arrryaman/"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-md">
          <div class="container">
            <div class="row justify-content-lg-end">
              <div class="col-lg-11">
                <div class="testimonial">
                  <div class="testimonial-avatar-wrapper"><img class="testimonial-avatar" src="images/neel.jpeg" alt=""
                      width="170" height="170" />
                  </div>
                  <div class="testimonial-content">
                    <h3 class="testimonial-title">Neelaksh Tayal</h3>
                    <p class="testimonial-text">“I’m not a pro in operating drones and that’s why I
                      found the basic assistance from your staff very useful. Besides, your team
                      has provided me with the necessary accessories for aerial photography that
                      were very important for my photos.”</p><b class="testimonial-site">
                      <a href="#">ML Engineer</a></b>
                    <ul class="social-menu testimonial-social">
                      <li><a class="icon novi-icon fl-glypho-linkedin"
                          href="https://www.linkedin.com/in/neelakshtayal/"></a></li>
                      <li><a class="icon novi-icon fl-glypho-instagram19"
                          href="https://www.instagram.com/neel.dll/"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-md">
          <div class="container">
            <div class="row justify-content-lg-end">
              <div class="col-lg-11">
                <div class="testimonial">
                  <div class="testimonial-avatar-wrapper"><img class="testimonial-avatar" src="images/ayush.jpg" alt=""
                      width="170" height="170" />
                  </div>
                  <div class="testimonial-content">
                    <h3 class="testimonial-title">Ayush Anand</h3>
                    <p class="testimonial-text">“I’m not a pro in operating drones and that’s why I
                      found the basic assistance from your staff very useful. Besides, your team
                      has provided me with the necessary accessories for aerial photography that
                      were very important for my photos.”</p><b class="testimonial-site">
                      <a href="#">Software Engineer</a></b>
                    <ul class="social-menu testimonial-social">
                      <li><a class="icon novi-icon fl-glypho-linkedin"
                          href="https://www.linkedin.com/in/ayush-anand-0457391b4/"></a></li>
                      <li><a class="icon novi-icon fl-glypho-instagram19"
                          href="https://www.instagram.com/subliminal_host/"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-mask-product-2 d-none d-md-block"><img src="images/blur-home-11-1177x692.png" alt=""
          width="1177" height="692" />
      </div>
    </section>
    <section class="section section-lg" id="gallery">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <h2>Gallery</h2>
            <p>Not excited enough? See our drone in action!</p>
          </div>
        </div>
      </div>
      <div class="owl-carousel big-carousel" data-items="1" data-autoplay="false" data-autoplay-speed="6000"
        data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30"
        data-mouse-drag="true">
        <div class="big-carousel__item">
          <div class="container">
            <div class="row row-30" data-lightgallery="group" data-lg-animation="lg-slide-circular">
              <div class="col-md-5"><a class="thumbnail" href="images/Drones/Drone3.jpg" data-lightgallery="item"><img
                    src="images/Drones/Drone3.jpg" alt="" width="500" height="220" /></a></div>
              <div class="col-md-7"><a class="thumbnail" href="images/Drones/Drone2.jpg" data-lightgallery="item"><img
                    src="images/Drones/Drone2.jpg" alt="" width="670" height="220" /></a></div>
            </div>
          </div>
        </div>
        <div class="big-carousel__item">
          <div class="container">
            <div class="row row-30" data-lightgallery="group" data-lg-animation="lg-slide-circular">
              <div class="col-md-5"><a class="thumbnail" href="images/Drones/IMG_1994.jpg" data-lightgallery="item"><img
                    src="images/Drones/IMG_1994.jpg" alt="" width="468" height="220" /></a></div>
              <div class="col-md-7"><a class="thumbnail" href="images/Drones/Drone1.jpg" data-lightgallery="item"><img
                    src="images/Drones/Drone1.jpg" alt="" width="670" height="220" /></a></div>
            </div>
          </div>
        </div>
        <div class="big-carousel__item">
          <div class="container">
            <div class="row row-30" data-lightgallery="group" data-lg-animation="lg-slide-circular">
              <div class="col-md-5"><a class="thumbnail" href="images/Drones/Drone8.jpg" data-lightgallery="item"><img
                    src="images/Drones/Drone8.jpg" alt="" width="500" height="220" /></a></div>
              <div class="col-md-7"><a class="thumbnail" href="images/Drones/Drone5.jpg" data-lightgallery="item"><img
                    src="images/Drones/Drone5.jpg" alt="" width="670" height="220" /></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-146 bg-gray-50" id="contacts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Get in touch</h3>
            <p class="big">Have a question or a testimonial about our service? Feel free to send us a
              message using the form below at any time.</p>
            <form class="rd-form rd-mailform rd-mailform-contact" data-form-output="form-output-global"
              data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="row row-30">
                <div class="col-md-6">
                  <div class="form-wrap">
                    <input class="form-input" id="form-user-name" type="text" name="name" data-constraints="@Required">
                    <label class="form-label" for="form-user-name">Your name <span
                        class="text-secondary-2">*</span></label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-wrap">
                    <input class="form-input" id="form-email" type="email" name="email"
                      data-constraints="@Email @Required">
                    <label class="form-label" for="form-email">Your email <span
                        class="text-secondary-2">*</span></label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-wrap">
                    <textarea class="form-input" id="form-message" name="message"
                      data-constraints="@Required"></textarea>
                    <label class="form-label" for="form-message">Your message</label>
                  </div>
                </div>
              </div>
              <button class="button button-icon button-icon-right button-primary-outline" type="submit"><span
                  class="icon material-icons-chevron_right"></span>Send
                message</button>
            </form>
          </div>
          <div class="col-md-6 mt-5 mt-md-0">
            <h3>Contact Info</h3>
            <p class="big">We are always available for a call or visit. Use the details below to send us an
              e-mail, give us a call, or visit us at</p>
            <ul class="list-xl list-contacts">
              <li class="unit unit-spacing-md flex-column flex-sm-row">
                <div class="unit-left icon icon-contacts material-icons-location_on"></div>
                <div class="unit-body">
                  <h5 class="contacts-title">Address</h5>
                  <div class="contacts-link"><a href="#">29, Siri Fort Road <br> New Delhi, India</a></div>
                </div>
              </li>
              <li class="unit unit-spacing-md flex-column flex-sm-row">
                <div class="unit-left icon icon-contacts material-icons-local_phone"></div>
                <div class="unit-body">
                  <h5 class="contacts-title">Call Us</h5>
                  <ul class="list-xs">
                    <li class="contacts-link"><a href="tel:#">+(91) 8586043037</a></li>
                    <li class="contacts-link"><a href="tel:#">+(91) 7982654011</a></li>
                    <li class="contacts-link"><a href="tel:#">+(91) 9717157725</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="snackbars" id="form-output-global"></div>
  <script src="js/core.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>