<!doctype html>
<html class="wide wow-animation" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flynovate</title>
    <meta name="description" content="solar panel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="site.webmanifest">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="shortcut icon" type="image/x-icon" href="images/fav-promo.png">

    <link rel="stylesheet" href="css/promo/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/promo/fontawesome-all.min.css"> -->
    <link rel="stylesheet" href="css/promo/themify-icons.css">
    <link rel="stylesheet" href="css/promo/slick.css">
    <link rel="stylesheet" href="css/promo/style.css">
    <style>
        video {
          width: 100%;
          height: auto;
        }
        </style>
</head>

<body>
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="images/ajax-loader" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <header>
        <div class="header-area header-transparent" style="overflow:auto">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo3.png" alt="" width="183" height="60"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="#home">Home</a></li>
                                                <li><a href="#about">About</a></li>
                                                <li><a href="#services">Services</a></li>
                                                <li><a href="#video">Video</a></li>
                                                <li><a href="#team">Team</a></li>
                                                <li><a href="#contact">Contact</a></li>
                                                <li>

                                                    <div class="header-right-btn ml-40">
                                                        <form action="/login" method="get">
                                                            <button class="btn" type="submit"><img
                                                                    src="images/promo/icon/smartphone.svg"
                                                                    alt="">Register</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-10">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="slider-area " id="home">
            <div class="slider-active">
                <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9 col-md-12">
                                <div class="hero__caption text-center">
                                    <h2 class="welcome1">Welcome &nbsp;To</h2>
                                    <!-- class="hmm" -->
                                    <h2 class="hm" data-text="F L Y N O V A T E"> FLY NOVATE</h2><br>
                                    <h3 class="welcome">Driven By Future</h3><br><br>
                                    <a href="#about" class="hero-btn" data-animation="fadeInUp"
                                        data-delay="0.7s">Explore services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-low-area section-padding30" id="about">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <div class="section-tittle mb-35">
                                <h2>What is Flynovate?</h2>
                            </div>
                            <p>Using a computer-vision-enabled autonomous swarm of drones (no drone pilot required), we
                                inspect and detect every visual and internal defect in every solar panel present in a
                                solar farm. We provide efficiency statistics, aerial
                                imagery, and potential faults summed up in a post-inspection report, that can be
                                accessed through our cloud dashboard. Further followed by a completely autonomous solar
                                panel-oriented drone cleaning service.
                            </p>
                            <form action="/login" method="get">
                                <button class="btn black-btn" type="submit">Register with Us
                                </button>
                            </form>
                            <!-- <a href="#" class="btn black-btn">Register with Us</a> -->
                        </div>
                    </div>
                    <div class="offset-xl-0 col-xl-6 offset-lg-0 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
                        <div class="about-right-cap">
                            <div class="about-right-img">
                                <img src="images/promo/drones/drone10.jpeg" alt="">
                            </div>
                            <div class="img-cap">
                                <span>1</span>
                                <p>Years of experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services-section pb-padding fix" id="services">
            <div class="container">
                <div class="custom-row">
                    <div class="services-active">
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/promo/drones/drone1c.jpeg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="#">Inspection Drone</a></h5>
                                    <p>Fire and Forget multi-drone system for fully autonomous inspection of solar power
                                        farms.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/promo/drones/drone9c.jpeg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Cleaning Drone</a></h5>
                                    <p>A complete autonomous solar panel-oriented drone cleaning service with solar
                                        panel and dust detection system.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/promo/drones/report.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Post Inpection Report</a></h5>
                                    <p>Detailed summary of power output, efficiency statistics, current issues and
                                        solution to be induced in the solar farms.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/promo/drones/1.jpg" alt=""><br><br>
                                    <img src="images/promo/drones/2.jpg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Live Dashboard Monitoring</a></h5>
                                    <p>Live updates and logs of camera feed, errors detected and current status of the
                                        drones working on the solar power farm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="video-contents">
                <div class="row justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-10">
                        <div class="section-tittle  mb-90">
                            <h2>INSPECTION DRONE</h2>
                            <p>Equiped with a Thermal Camera, our completely autonomous Inspection Drone pin-points all
                                the defects on the solar panel caused due to constant wear and tear.</p>
                            <form action="/login" method="get">
                                <button class="btn black-btn" type="submit">Register Your Company
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-8">
                        <div class="edu-details">
                            <div class="single-items mb-50">
                                <span>Fully Autonomous & One-Click Launch</span>
                                <p>&nbsp;</p>
                            </div>
                            <div class="single-items single-items2 mb-50">
                                <span>Thermal Fault Detection with Video Feed</span>
                                <p>&nbsp;</p>
                            </div>
                            <div class="single-items single-items3 mb-50">
                                <span>Error List & Post-Inspection Report</span>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <section class="services-section pb-padding fix">
                        <div class="container">
                            <div class="custom-row">
                                <div class="services-active">
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone9.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone6.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone3.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone4.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row justify-content-between">
                        <div class="col-xl-5 col-lg-5 col-md-10">
                            <div class="section-tittle  mb-90">
                                <h2>CLEANING DRONE</h2>
                                <p>Aided with Artificial Intelligence, this drone detects panels and dust on it, and
                                    efficiently cleans individual panels within 3 minutes.</p>
                                <form action="/login" method="get">
                                    <button class="btn black-btn" type="submit">Register Your Company
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-8">
                            <div class="edu-details">
                                <div class="single-items mb-50">
                                    <span>Fully Autonomous & One-Click Launch</span>
                                    <p>&nbsp;.</p>
                                </div>
                                <div class="single-items single-items2 mb-50">
                                    <span>Dust & Sloar Panel Detection</span>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="single-items single-items3 mb-50">
                                    <span>Live Video Stream with Cloud Support</span>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="services-section pb-padding fix">
                        <div class="container">
                            <div class="custom-row">
                                <div class="services-active">
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone11.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone7.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone8.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-cat">
                                            <div class="cat-icon">
                                                <img src="images/promo/drones/drone5.jpeg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- &nbsp;&nbsp;<video width="1200rem" height="540rem" controls poster="videos/thumbnail.png">
                                    <source src="videos/jd.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <section class="services-section pb-padding fix" id="video">
            <div class="container">
                <div class="custom-row">
                    <video width="1200rem" height="540rem" controls poster="videos/thumbnail.png">
                        <source src="videos/jd.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>
        <div class="visit-tailor-area fix" id="team">
            <div class="tailor-offers"></div>
            <div class="tailor-details">
                <h2>Our Team</h2>
                <p>A perfect blend of creativity and technical wizardry. The people who made this idea possible.</p>
            </div>
        </div>
        <section class="services-section services-section2 pb-padding fix">
            <div class="container">
                <div class="custom-row">
                    <div class="services-active">
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/akshat2.jpeg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h3>Akshat Bhatia</h3>
                                    <h3><a href="https://www.linkedin.com/in/akshat-bhatia-40611b196/"
                                            target="_blank"><i class=" ti-linkedin"></i>&nbsp;&nbsp;</a><a
                                            href="https://www.instagram.com/akshat.bhatia/" target="_blank"><i
                                                class="ti-instagram"></i></a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/aryaman.jpg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h3>Aryaman Chaudhary</h3>
                                    <h3><a href="https://www.linkedin.com/in/aryaman-chaudhary-78b59b1a7/"
                                            target="_blank"><i class=" ti-linkedin"></i>&nbsp;&nbsp;</a><a
                                            href="https://www.instagram.com/arrryaman/" target="_blank"><i
                                                class="ti-instagram"></i></a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/panda.jpeg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h3>Himanshu Panda</h3>
                                    <h3><a href="https://www.linkedin.com/in/himanshu-panda-9a7100217/"
                                            target="_blank"><i class=" ti-linkedin"></i>&nbsp;&nbsp;</a><a
                                            href="https://www.instagram.com/himanshup_16/" target="_blank"><i
                                                class="ti-instagram"></i></a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/ayush1.jpeg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h3>Ayush Anand</h3>
                                    <h3><a href="https://www.linkedin.com/in/ayush-anand-0457391b4/" target="_blank"><i
                                                class=" ti-linkedin"></i>&nbsp;&nbsp;</a><a
                                            href="https://www.instagram.com/subliminal_host/" target="_blank"><i
                                                class="ti-instagram"></i></a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/neel.jpeg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h3>Neelaksh Tayal</h3>
                                    <h3><a href="https://www.linkedin.com/in/neelakshtayal/" target="_blank"><i
                                                class=" ti-linkedin"></i>&nbsp;&nbsp;</a><a
                                            href="https://www.instagram.com/neel.dll/"><i class="ti-instagram"></i></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-cat">
                                <div class="cat-icon">
                                    <img src="images/samarth.jpg" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h3>Samarth</h3>
                                    <h3><a href="https://www.linkedin.com/in/samarth-jain-0441161b4/"><i
                                                class=" ti-linkedin"></i>&nbsp;&nbsp;</a><a
                                            href="https://www.instagram.com/samarth.jain2112/"><i
                                                class="ti-instagram"></i></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services End -->
        <!--? Testimonial Area Start -->
        <!-- <section class="testimonial-area testimonial-padding fix section-bg" data-background="assets/img/gallery/section_bg03.png">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-lg-9">
                        <div class="about-caption">
                            <div class="h1-testimonial-active dot-style">
                                <div class="single-testimonial position-relative">
                                    <div class="testimonial-caption">
                                        <img src="assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                        <p>"The automated process starts as soon as your clothe go into the machine. This site outcome is gleaming clothe. Placeholder text commonly used. In publishing and graphic.</p>
                                    </div>
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-img">
                                            <img src="assets/img/icon/testimonial.png" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Robart Brown</span>
                                            <p>Creative designer at Colorlib</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-testimonial position-relative">
                                    <div class="testimonial-caption">
                                        <img src="assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                        <p>"The automated process starts as soon as your clothe go into the machine. This site outcome is gleaming clothe. Placeholder text commonly used. In publishing and graphic.</p>
                                    </div>
                                    <div class="testimonial-founder d-flex align-items-center">
                                        <div class="founder-img">
                                            <img src="assets/img/icon/testimonial.png" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Robart Brown</span>
                                            <p>Creative designer at Colorlib</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--? Testimonial Area End -->
        <div class="contact-form" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-wrapper" style="overflow:auto">
                            <div class="row ">
                                <div class="col-xl-12 col-lg-11 col-md-8 col-lg-7 col-sm-9">
                                    <div class="section-tittle mb-30">
                                        <h2>Get in Touch</h2>
                                        <p>Have a question or a testimonial about our service? Feel free to send us a
                                            message using the form below.</p>
                                    </div>
                                </div>
                            </div>
                            <form class="contact-form" id="contact-form" action="/contact" method="POST">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6">
                                        <div class="form-box user-icon mb-15">
                                            <input type="text" name="name" placeholder="Your Name" id="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6">
                                        <div class="form-box email-icon mb-15">
                                            <input type="text" name="email" placeholder="Email" id="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6">
                                        <div class="form-box email-icon mb-15">
                                            <input type="text" name="num" placeholder="Phone no." id="num">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-box message-icon mb-15">
                                            <textarea name="message" id="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="submit-info">
                                            <button class="submit-btn2" type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-img">
                <!-- <img src="assets/img/gallery/contact-img.png" alt=""> -->
                <div class="col-md-6 mt-5 mt-md-0">
                    <br><br><br><br>
                    <div class="section-tittle mb-50">
                        <h2>Contact Info</h2>
                        <p>We are always available for a call or visit. Use the details below to send us an e-mail, give
                            us a call, or visit us at</p>
                    </div>
                    <h3 class="contact-title"><i class="unit-left icon material-icons">location_on</i> &nbsp; ADDRESS:
                    </h3>
                    <h4 class="contact-lists">29, Siri Fort Road New Delhi, India</h4>
                    <br>
                    <h3 class="contact-title"><i class="unit-left icon material-icons">phone</i> &nbsp; CALL
                        US: </h3>
                    <h4 class="contact-lists">+(91) 8586043037</h4>
                    <h4 class="contact-lists">+(91) 7982654011</h4>
                    <h4 class="contact-lists">+(91) 9717157725</h4>
                    <br>
                    <h3 class="contact-title"><i class="unit-left icon material-icons">mail</i> &nbsp; E-Mail: </h3>
                    <h4 class="contact-lists">flynovate@gmail.com</h4>
                </div>
            </div>
        </div>
        </div>
    </main>
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="ti-arrow-up"></i></a>
    </div>
    <script src="js/promo/modernizr-3.5.0.min.js"></script>
    <script src="js/promo/jquery-1.12.4.min.js"></script>
    <script src="js/promo/jquery.slicknav.min.js"></script>

    <script src="js/promo/owl.carousel.min.js"></script>
    <script src="js/promo/slick.min.js"></script>
    <script src="js/promo/jquery.nice-select.min.js"></script>
    <script src="js/promo/jquery.sticky.js"></script>
    <script src="js/promo/plugins.js"></script>
    <script src="js/promo/main.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


</body>

</html>